<html>
<head>
  <title>QuickBooks Sample App - Xooa</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="Connected" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }

    function apiCall() {
      $("#result").html('Loading...')
      $.get("/api_call", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function revokeCall() {
      $("#result").html('Loading...')
      $.get("/api_call/revoke", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function refreshCall() {
      $("#result").html('Loading...')
      $.get("/api_call/refresh", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function checkConnect() {
      if("<%= realmId %>" != "") {
        var realmID = "<%= realmId %>"
        console.log(realmID)
        $("#connecting").show();
      }
    }

    function launchPopup(path) {
        var win;
        var checkConnect;
        var parameters = "location=1,width=800,height=650";
        parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

        // Launch Popup
        win = window.open(path, 'connectPopup', parameters);
      }
    function saveToken() {
      if("<%= realmId %>" != "" && "<%= token %>" != "" && "<%= email %>" != ""){
        var email = "<%= email %>"
        var realmId = "<%= realmId %>"
        var token = "<%= token %>"
        tools.saveToken(realmId, email, token)
      }
    }
    $(document).ready(function(){
      checkConnect();
    })
  </script>
</head>
<body style="margin:100">
  <div class="bg-white custom-header">
    <div class="contents-pane">
      <header class="app-header navbar"><a href="#" class="navbar-brand">
          <!-- <img src="logo-main.png"> -->
        </a>
      </header>
    </div>
  </div>
  <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
  <h3>Connected!</h3>
  <p>Welcome<% if (locals.givenName) { %>, <%= locals.givenName %><% } %>!</p>
  <p>Oauth2 is established for your company. Go ahead and configure the webhook.</p>
  <div id="connecting" hidden>
    App ID: <input type="text" id="appId">
    API token: <input type="text" id="apiToken">
    <button onclick="saveToken()">Save your webhook</button>
  </div>
  <div>
    <!-- Connect To QuickBooks Button -->
    <b>Connect To QuickBooks and create a new webhook</b><br />
    <a class="imgLink" href="#" onclick="launchPopup('/connect_to_quickbooks')">
      <img style="height: 40px" src="C2QB_white_btn_lg_default.png" onmouseover="this.src='C2QB_white_btn_lg_hover.png'"
        onmouseout="this.src='C2QB_white_btn_lg_default.png'" />
    </a>
  </div>
  <!-- <div>
    <button onclick="apiCall()">QuickBooks API Call</button>
    <button onclick="refreshCall()">Refresh Token Call</button>
    <button onclick="revokeCall()">Revoke Token Call</button>
    <br><br>
    <div><code id="result"></code></div> -->
</body>
</html>
